.react-codemirror2 > .CodeMirror:first-child { display: none; }

body {
  margin: 0;
  background-color: #1d2325;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
}

.editor-title {
  font-family:'Courier New', Courier, monospace;
  font-weight: 800;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 40, 71);
  color: white;
  padding: .5rem;
  padding-left: 1rem;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  border: .05rem solid white;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  overflow: hidden;
  scrollbar-width: none;
  border: .05rem solid white;
  border-top: none;
}

.expand-collapse {
  margin-left: .5rem;
  background:none;
  border: none;
  color: white;
  cursor: pointer;
}

iframe {
  background-color: white;
  margin: .5rem;
  height: 47vh;
  border-radius: .5rem;
  color: yellow;
  border: .05rem solid white;
}